section#download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 700px;

    #title,
    #description {
      margin-bottom: 45px;
    }

    #title {
      border-bottom: 3px solid $orange;
      text-shadow: 4px 4px #272121;
      font-size: 5em;
    }

    #description {
      padding: 5px;
      color: gray;
      background-color: #272121;
      font-size: 3em;
      border-top: 4px solid black;
    }

    .buttons {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        position: relative;
        width: 50%;
        margin: 0 10px;
      }

      .download {
        // width: 300px;
      }

      .source {
        color: $red;
        background-color: black;
        // width: 300px;
        height: 70px;
        border-color: $red;
        text-align: center;
      }
    }
  }
}
