<section id="download">
  <div class="wrapper">
    <h1 id="title">Casterr</h1>

    <p id="description">Share your best highlights easily</p>

    <div class="buttons">
      <div class="download loading" id="downloadButton">
        <div class="loader"><span class="spinner"></span></div>

        <button id="windowsDownloadBtn" aria-label="Download for Windows">
          {{ readFile "static/img/icons/windows.svg" | safeHTML }}
        </button>

        <button id="linuxDownloadBtn" aria-label="Download for Linux">
          {{ readFile "static/img/icons/linux.svg" | safeHTML }}
        </button>
      </div>

      <a class="source" href="{{ .Site.Params.github }}" target="_blank" tabindex="-1">
        <button class="inverted" id="sourceButton" aria-label="View source code">
          Source Code
        </button>
      </a>
    </div>
  </div>
</section>