<section id="download">
  <div class="wrapper">
    <h1 id="title">Casterr</h1>

    <p id="description">Share your best highlights easily</p>

    <div class="buttons">
      <!-- <div class="download">
        <button id="downloadButton">Download</button>
      </div>

      <button class="source">
        <a href="{{ .Site.Params.github }}" target="_blank">Source</a>
      </button> -->

      <button class="download" id="downloadButton">
        Download
      </button>

      <button class="source" id="sourceButton">
        <a href="{{ .Site.Params.github }}" target="_blank">Source</a>
      </button>
    </div>
  </div>
</section>