<section id="download">
  <div class="wrapper">
    <h1 id="title">Casterr</h1>

    <p id="description">Share your best highlights easily</p>

    <div class="buttons">
      <div class="download loading" id="downloadButton">
        <div class="loader"><span class="spinner"></span></div>

        <button>
          {{ readFile "static/img/icons/windows.svg" | safeHTML }}
        </button>

        <button>
          {{ readFile "static/img/icons/linux.svg" | safeHTML }}
        </button>
      </div>

      <button class="source" id="sourceButton">
        <a href="{{ .Site.Params.github }}" target="_blank">Source</a>
      </button>
    </div>
  </div>
</section>