<section id="features">
  <h1 class="title">Features</h1>

  <div class="featureWrapper">
    {{ range .Site.Params.features }}
      <div class="feature">
        <div class="name">
          {{ $icon := (print "static/img/icons/" .icon) | urlize }}
          {{ readFile $icon | safeHTML }}

          <h1>{{ .name }}</h1>
        </div>
        <h4>{{ .desc }}</h4>
      </div>
    {{ end }}
  </div>

  <h4 class="subtitle">If theres a feature you'd like to see, suggest it <a href="{{ .Site.Params.github }}" target="_blank">here</a>!</h4>
</section>
