<section id="features">
  <h1 class="title">Features</h1>

  <div class="featureWrapper" tabindex="0">
    {{ range .Site.Params.features }}
      <div class="feature">
        <div class="name">
          {{ $icon := (print "static/img/icons/" .icon) | urlize }}
          {{ readFile $icon | safeHTML }}

          <h1>{{ .name }}</h1>
        </div>

        <p>{{ .desc }}</p>
      </div>
    {{ end }}
  </div>

  <p class="subtitle">If there's a feature you'd like to see, <a href="{{ .Site.Params.github }}" target="_blank">suggest it!</a></p>
</section>
