<div class="contentContainer">
  <h1 class="title">Casterr</h1>

  <p id="description">Share <span id="changingText">your best</span> highlights easily</p>

  <div class="buttons">
    <div class="download" onclick="downloaded()">
      <button>Download</button>

      <div class="infoBox">
        <p>
          Version 1.0
          <br>
          0 Downloads
        </p>
      </div>
    </div>

    <button class="source">
      <a href="https://github.com/CasterrTV/Casterr" target="_blank">Source</a>
    </button>
  </div>
</div>
