<div class="contentContainer">
    <div class="titleBox">
        <h1>Casterr</h1>    
    </div>
    
    <div class="textboxWrapper">
        <p>Share your best highlights easily</p>
    </div>
    
    <div class="btnContainer">
        <div class="btn">
            <button>Download</button>
    
            <div class="infoBox">
                <p>Version 1.0</p>
            </div>
        </div>
    
        <button class="btn2">
            <a href="https://github.com/CasterrTV/Casterr">Source</a>
        </button>
    </div>
</div>
