@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed'
}

body {
    background-color: #363333;
}