body {
    display: inline-block;
    width: 100vw;
    height: 100vh;

    .header{
        display: flex;
        position: relative;
        justify-content: center;
        top: 100px;

        h1 {
            color: white;
            font-size: 3.5em;
            border-bottom: 3px solid #e16428;
        }
    }

    .textboxWrapper {
        display: flex;
        position: relative;
        justify-content: center;
        top: 130px;

        p {
            color: gray;
            background-color: #272121;
            font-size: 1.75em;
            border-top: 4px solid black;
        }
        
    }    
}