.header {
    display: flex;
    justify-content: center;

    img {
        position: absolute;
        left: 0;
        width: 60px;
        height: 60px;
        user-select: none;
    }
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    margin-bottom: 100px;

    .titleBox {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        h1 {
            color: white;
            font-size: 5em;
            border-bottom: 3px solid #e16428; 
            text-shadow: 4px 4px #272121;
        }
    }

    .textboxWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        p {
            color: gray;
            background-color: #272121;
            font-size: 3em;
            border-top: 4px solid black;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;

        .download {
            position: relative;
            width: 300px;
            margin: 0 10px;

            button {
                position: absolute;
                width: 100%;
                height: 70px;
                font-size: 1.75em;
                color: black;
                background-color: #ca3e47;
                outline: none;
                border-radius: 0.4rem;
                border: 0.2rem solid black;
                box-shadow: 0 3px 0 0 black;
                text-align: center;
                cursor: pointer;

                &:active {
                    top: 3px;
                    box-shadow: none;
                }

                &:hover + .infoBox {
                    display: flex;
                }
            }
            
            .infoBox {
                display: none;
                position: absolute;
                justify-content: center;
                top: 80px;
                bottom: 50px;
                right: 30px;
                color: lightgray;
                font-size: 1.2em;
            }
        }

        .source {
            position: relative;
            background-color: black;
            width: 300px;
            height: 70px;
            margin: 0 10px;
            outline: none;
            border-radius: 0.4rem;
            border: 0.2rem solid #ca3e47;
            box-shadow: 0 3px 0 0 #ca3e47;
            font-size: 1.75em;
            text-align: center;
            cursor: pointer;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: #ca3e47;
                text-decoration: none;
            }

            &:active {
                top: 3px;
                box-shadow: none;
            }
        }
    }
}