body {
    display: inline-block;
    width: 100vw;
    height: 100vh;

    .header{
        display: flex;
        position: relative;
        justify-content: center;
        top: 100px;

        h1 {
            color: white;
            font-size: 3.5em;
            border-bottom: 3px solid #e16428;
        }
    }

    .textboxWrapper {
        display: flex;
        position: relative;
        justify-content: center;
        top: 130px;

        p {
            color: gray;
            background-color: #272121;
            font-size: 1.75em;
            border-top: 4px solid black;
        }
    }

    .btnContainer{
        display: flex;
        position: relative;
        justify-content: center;
        top: 340px;

        .btn {
            color: black;
            background-color: #ca3e47;
            border: none;
            width: 190px;
            height: 70px;
            font-size: 1.75em;
            cursor: pointer;
            outline: none;
            border-radius: 0.4rem;
            border: 0.2rem solid black;
            box-shadow: 0 3px 0 0 black;
            position: relative;

            &:active {
                top: 3px;
                box-shadow: none;
            }
        }
    }
}