body {
    display: inline-block;
    width: 100vw;
    height: 100vh;

    .titleBox {
        display: flex;
        position: relative;
        justify-content: center;
        top: 380px;

        h1 {
            color: white;
            font-size: 5em;
            border-bottom: 3px solid #e16428;
        }
    }

    .header{
        display: flex;
        position: relative;
        justify-content: center;

        img {
            position: absolute;
            left: 0;
            width: 60px;
            height: 60px;
            user-select: none;
        }
    }

    .textboxWrapper {
        display: flex;
        position: relative;
        justify-content: center;
        top: 410px;

        p {
            color: gray;
            background-color: #272121;
            font-size: 3em;
            border-top: 4px solid black;
        }
    }

    .btnContainer {
        display: flex;
        position: relative;
        top: 480px;
        justify-content: center;

        .btn {
            display: inline-block;
            color: black;
            background-color: #ca3e47;
            width: 280px;
            height: 70px;
            font-size: 1.75em;
            cursor: pointer;
            outline: none;
            border-radius: 0.4rem;
            border: 0.2rem solid black;
            box-shadow: 0 3px 0 0 black;
            position: absolute;

            &:active {
                top: 3px;
                box-shadow: none;
            }

            &:hover + .infoBox {
                display: flex;
            }
        }

        .btn2 {
            display: inline-block;
            color: #ca3e47;
            background-color: black;
            width: 280px;
            height: 70px;
            font-size: 1.75em;
            cursor: pointer;
            outline: none;
            border-radius: 0.4rem;
            border: 0.2rem solid #ca3e47;
            box-shadow: 0 3px 0 0 #ca3e47;
            position: absolute;
            left: 100%;

            &:active {
                top: 3px;
                box-shadow: none;
            }
        }

        .infoBox {
            display: none;
            position: relative;
            justify-content: center;
            bottom: 26px;
            color: lightgray;
            border-bottom: 2px solid #b5b0ad;
            font-size: 1.2em
        }
    }
}