nav {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 64px;
  background-color: #272121;
  border-bottom: solid 0.1em #e16428;
  
  img {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    user-select: none;
  }

  ul {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 60px;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 15px;

      a {
        text-decoration: none;
        position: relative;
        cursor: pointer;
        color: #ca3e47;
        font-size: 1.5em;
        outline: none;
    
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 0%;
          height: 3px;
          bottom: -2px;
          background: #ca3e47;
        }
    
        &:before {
          left: 0px;
        }
    
        &:after {
          right: 0px;
          background: #ca3e47;
          transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
    
        &:hover {
          &:before {
            width: 100%;
            background: #ca3e47;
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
          }
    
          &:after {
            width: 100%;
            background: transparent;
            transition: 0s;
          }
        }
      }
    }
  }
}
